.col-md-8
  .col-md-4
    =field_set_tag "DELIVERY TYPE" do
      =form.collection_radio_buttons :delivery_type_id, DeliveryType.all, :id, :title, skip_label: true

.col-md-4
  =render 'order_summary'
