.container
  .row
    .col-md-12.text-center
      %table.table.table-condensed
        %thead
          %tr
            %th
            %th.text-center BOOK
            %th.text-center PRICE
            %th.text-center QTY
            %th.text-center TOTAL
            %th.text-center
        %tbody
          -@orders.each do |order|
            - order.order_items.each do |item| 
              %tr
                %td=image_tag item.book.cover.small_thumb
                %td{style: "text-align: left"}
                  %strong=item.book.title
                  %br
                  .multiline-ellipsis=item.book.description
                %td.cart-price=number_to_currency item.book.price
                %td.cart-price=item.quantity
                %td.cart-price=number_to_currency item.price
                %td
            %tr
              %td
              %td
              %td
              %td SUBTOTAL
              %td.cart-price= number_to_currency order.total_price

