.col-md-12
  .carousel.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
    %ol.carousel-indicators
      %li.active{:data => {:target => "slide-images", :slide_to => "0"}}
      %li{:data => {:target => "slide-images", :slide_to => "1"}}
      %li{:data => {:target => "slide-images", :slid1_to => "2"}}

    / Wrapper for slides
    -@books.top_sellers.each do |book|
      .carousel-inner{:role => "listbox"}
        .item.active
          =image_tag book.cover
          .carousel-caption
            %h3= book.title
            
    / Left and right controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next

