.container
  .row
    =render partial: 'best_buy'
  .row
    .col-md-8.col-md-offset-2
    - @books.each do |book|
      .col-md-3
        .thumbnail
          =link_to book_path(book) do
            =image_tag book.cover.thumb
          .caption
            %form.form-inline{ action: order_items_path, method: :post, style: "text-align:center" }
              = hidden_field_tag :authenticity_token, form_authenticity_token
              = hidden_field_tag 'order_item[book_id]', book.id

              %input.form-control{id: "quantity", value: "1", type: "text", style: "width: 55px", name: "order_item[quantity]"}
              %button.btn.btn-small.add{:type => "submit"} Add to Cart  

            .pull-right.price= number_to_currency book.price
            %h5= link_to book.title, book_path(book.id), {style: "display:block; width:200px", class: "book-title"}
            %p.multiline-ellipsis.base
              =book.description
          .ratings
            %p.pull-right.base
              =book.ratings.count
              reviews
            %p
              -(book.count_average_rate).times do
                %span.glyphicon.glyphicon-star
              -(10 - book.count_average_rate).times do
                %span.glyphicon.glyphicon-star-empty
  
.container
  .row
    %center
      =paginate @books, window: 2