.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}
        %span.fa.fa-book
        Bookmarket
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li.divider-vertical
        - if can? :access, :rails_admin
          %li.active
            =link_to t('front.dashboard'), dashboard_path
        - else
          %li
            %a{href: "/"} 
              =t('front.shop')
          %li
            =link_to cart_path do
              %span.fa.fa-1x.fa-shopping-cart
              =t('front.cart')
      %ul.nav.navbar-nav.navbar-right  
        %li
          %form.navbar-form{ url: search_path, role: "search", method: :get }
            .form-group{style: "display: inline"}
              .input-group
                %input.form-control{placeholder: t('front.search'), type: "text"}
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-search
        %li.divider-vertical  
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              =current_user.email
              %span.caret
              -if current_user.avatar
                =image_tag current_user.avatar, :class => "img-circle", :width => 20
              -else
                %i.fa.fa-user 
            %ul.dropdown-menu
              %li 
                =link_to t('front.account'), edit_user_registration_path
              %li.divider 
              %li
                =link_to t('front.sign_out'), destroy_user_session_path        
        - else         
          %li
            =link_to t('front.sign_in'), new_user_session_path 
          %li
            =link_to t('front.sign_up'), new_user_registration_path 

      
