.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        %span.fa.fa-book
        Bookmarket
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        / ЗДЕСЬ РАЗБИВАЕТ НОРМАЛЬНО НА РОЛИ!!!!!
        / - if can? :access, :rails_admin
        %li.active
          =link_to "DASHBOARD", dashboard_path
        / - else
        %li.active
          %a{:href => "#"} HOME
        %li
          %a{:href => "#about"} SHOP
        %li.divider-vertical    
        %li
          %a{:href => "#about"}
            %span.fa.fa-1x.fa-shopping-cart
            CART :
      %ul.nav.navbar-nav.navbar-right  
        / - if current_user 
        %li
          =link_to "Sign out", destroy_user_session_path
        / - elsif
        %li
          =link_to "Sign in", new_user_session_path 
        %li.divider-vertical  
        %li
          =link_to "Sign up", new_user_registration_path 
